/* Small Screen */
.container {
    margin: 1rem;
  }
  
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form__left{
    margin-bottom: 1rem;
}

.form__image{
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.form__title{
    color: #1B263B;
    margin-bottom: 1rem;
    font-size: 2.44rem;
}

.form__titleMovie{
    color: #64748b;
    margin-bottom: 1rem;
}

.form__year{
    color: #64748b;
    margin-bottom: 1rem;
}

.form__submit{
    margin: 1rem;
    padding: 0.8rem 8rem;
    border: none;
    border-radius: 10px;
    background-color: #07849D;
    color: #fff;
}

.form__inputTitle{
    border-color: #07849D;
    border-radius: 5px;
    padding: 0.4rem;
    width: 70%;
    margin-bottom: 1rem;
}
.form__inputYear{
    border-color: #07849D;
    border-radius: 5px;
    padding: 0.4rem;
    width: 70%;
    margin-bottom: 1rem;
}

/* Large Screen */
@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 3rem auto;
    }

    .form {
        margin: 0 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .form__left{
        flex-basis: 50%;
    }
    
    .form__right{
        margin-right: 6rem;
    }

    .form__inputTitle{
        width: 100%;
        
    }
    .form__inputYear{
        width: 100%;
    }
    

}